body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: left;
}

h1 {
    color: #333;
}

.user {
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.video {
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

form {
    display: inline-block;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: #cc0000;
}
