<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр видео</title>
    <link rel="icon" type="image/x-icon" href="../static/img/DALL·E-2025-01-13-23.22.50-A-minimalist-logo-design-for-a-video-hosting-platform-named-_OpenTube_-Photoroom.png">
    <link rel="stylesheet" href="../static/css/video.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <div id="logoname">
            <img id="logo" src="../static/img/DALL·E-2025-01-13-23.22.50-A-minimalist-logo-design-for-a-video-hosting-platform-named-_OpenTube_-Photoroom.png" alt="logo" height="30">
            <h1 id="name">Vid-Open</h1>
        </div>
        <form action="#">
            <input id="search" type="text" name="search" placeholder="Введите запрос">
            <button id="searchbtn" type="button">Найти</button>
        </form>
        {% if current_user.is_anonymous %}
            <a id="login" href="/login">Вход</a>
        {% else %}
            <a href="/myaccount" id="myaccount"><img src="{{ url_for('static', filename='../static/img/profile_photo/default_profile.jpg') }}" alt="" height="30"></a>
        {% endif %}
    </header>

    <main class="main">
        <video id="video-main" controls>
            <source src="{{ url_for('static', filename='videos/' + video_data[4]) }}" type="video/mp4">
        </video>
        <p id="video-name">{{ video_data[1] }}</p>
        {% if current_user.is_anonymous %}
            <div id="please-login">
                <p id="attention">Вы не авторизовались в системе. Войдите или зарегистрируйтесь.</p> 
                <br>
                <a href="/login" id="login">Вход</a>
                <a href="/registration" id="registration">Регистрация</a>
            </div>
        {% else %}
            <form action="/video/{{ video_data[0] }}/like" method="post">
                <button type="submit" name="like" id="like"> 👍 <span id="like-count">{{ likes }}</span></button>
            </form>
            <form action="/video/{{ video_data[0] }}/dislike" method="post">
                <button type="submit" name="dislike" id="dislike"> 👎 <span id="dislike-count">{{ dislikes }}</span></button>
            </form>
            <div id="description">
                <h3>Описание</h3>
                <p>{{ video_data[2] }}</p>
            </div>
        {% endif %}
    </main>
</body>
</html>